@tailwind base;
@tailwind components;
@tailwind utilities;

/* OTSIKOT */
h1{
    @apply text-2xl p-2 mb-2
}

/* INPUTIT */
input{
    @apply border-4 border-transparent shadow-md mb-4 shadow-black rounded-md p-4 bg-themeSlate text-white;
    outline: none;
}
input:focus{
    @apply bg-slate-400;
    border: 4px dashed #FBE0C3;
    outline: none;
}
input::placeholder {
    color: #fff; 
}

/* NAPIT */
.tallenna{
    @apply bg-themeYellow p-4 m-4 rounded-md shadow-black drop-shadow-xl hover:bg-themePeach ease-in duration-150;
    align-self: flex-start;
}

/* TAULUKOT */
table{
    border-collapse:separate;
    border-spacing:0 30px; 
}
table tr td {
    @apply p-6  
}
table thead tr td {
    @apply  border-none text-themeDark text-xl underline underline-offset-4 pb-2
}
table tbody tr {
    @apply bg-themeYellow  drop-shadow-xl shadow-black rounded-md hover:scale-95 hover:bg-themePeach ease-in duration-200
}
table tbody td{
    @apply rounded-md
} 

