@tailwind base;
@tailwind components;
@tailwind utilities;

/* OTSIKOT */
h1{
    @apply text-2xl p-2 mb-2
}

/* INPUT JA SELECT */
input{
    @apply scale-100 border-4 border-transparent my-4 shadow-md shadow-themeSlate rounded-md p-4 bg-themeYellow ;
    outline: none;
}
input:focus{
    @apply bg-themePeach scale-y-110 p-6 ease-in duration-200 ;
    outline: none;
}
input::placeholder {
    color: #000; 
}
select{
    @apply border-4 border-transparent my-4 shadow-md shadow-themeSlate rounded-md p-4 bg-themeYellow;
    outline: none;
}
select:focus{
    @apply bg-themePeach scale-y-110 p-6 ease-in duration-200;    
    outline: none;
}

/* NAPIT */
.tallenna{
    @apply bg-themeYellow p-4 my-4 rounded-md shadow-black drop-shadow-xl hover:bg-themePeach ease-in duration-150;
    align-self: flex-start;
}

/* TAULUKOT */
table{
    border-collapse:separate;
    border-spacing:0 30px; 
}
table tr td {
    @apply p-6  
}
table thead tr td {
    @apply  border-none text-themeDark text-xl underline underline-offset-4 pb-2
}
table tbody tr {
    @apply bg-themeYellow  drop-shadow-xl shadow-black rounded-md hover:scale-95 hover:bg-themePeach ease-in duration-200
}
table tbody td{
    @apply rounded-md
} 

