@tailwind base;
@tailwind components;
@tailwind utilities;

/* OTSIKOT */
h1{
    @apply text-2xl p-2 mb-2 font-semibold text-themeDark text-center
}
p{
    @apply text-lg p-1 font-normal
}

/* INPUT JA SELECT */
input{
    @apply scale-100 border-4 border-transparent my-4 shadow-md shadow-themeSlate rounded-md p-4 bg-themeYellow ;
    outline: none;
}
input:focus{
    @apply bg-themePeach scale-y-110 p-6 ease-in duration-200 ;
    outline: none;
}
input::placeholder {
    color: #000; 
}
select{
    @apply border-4 border-transparent my-4 shadow-md shadow-themeSlate rounded-md p-4 bg-themeYellow;
    outline: none;
}
select:focus{
    @apply bg-themePeach scale-y-110 p-6 ease-in duration-200;    
    outline: none;
}

/* NAPIT */
.tallenna{
    @apply bg-themeYellow p-4 my-4 rounded-md drop-shadow-xl hover:bg-themePeach ease-in duration-150;
   
}
.vihreä{
    @apply bg-themeDark p-4 rounded-md m-4 drop-shadow-xl text-white hover:bg-themeSlate hover:scale-110 ease-in duration-150;
}

/* TAULUKOT */
.perustable{     
    border-collapse:separate;
    border-spacing:0 15px;    
}
.perustable tr td {
    @apply p-6  
}
.perustable thead tr td {
    @apply  border-none text-themeDark text-xl underline underline-offset-4 pb-2 
}
.perustable tbody tr {
    @apply bg-themeYellow drop-shadow-xl shadow-black rounded-md hover:scale-95 hover:bg-themePeach ease-in duration-200
}
.perustable tbody td{
    @apply rounded-md 
} 


/* KALENTERI */
.kalenteri{
    @apply   rounded-xl;
    height: 23vw;
    min-height: 300px;  
    width: 100%; 
}
.kalenteri tr{
    @apply flex justify-evenly items-center p-4;
}
.kalenteri td{
    min-width: 130px;
}
.kalenteri thead, .kalenteri tbody{
    @apply p-4 text-center rounded-md;
}
.kalenteri thead th{
    @apply flex-1 p-4 mx-4 mb-10  bg-white text-themeDark shadow-md shadow-black rounded-sm;  
}
.kalenteri tbody{
    @apply bg-gray-100 ;    
}
.kalenteri tbody td{
    @apply flex-1 p-4 mx-4 mb-10 hover:scale-125 ease-in duration-200;    
}
.current-day{
   @apply border-themeSlate border-b-8
}
.current-col{
    @apply font-extrabold text-xl scale-125 
}

.kalenteriLinkkiAhead{
    @apply bg-emerald-500 text-white flex flex-col my-2 p-2 rounded-md border-2  border-themeDark  overflow-clip hover:bg-themeSlate hover:text-white ease-in duration-200;
}
.kalenteriLinkkiBehind{
    @apply bg-red-400 text-themeDark flex flex-col my-2 p-1  opacity-40 font-thin line-through rounded-md  border-themeDark  overflow-clip hover:bg-themeSlate hover:text-white ease-in duration-200;
}